body{
    display: flex;
    flex-direction: column;
}

form {
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20px;
}

div.lista {
    margin-top: 10%;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20px;
    width: 300px;
}

div.lista li {
    padding: 10px;
    font-size: 22px;

}

div.lista li.concluida {
    color: green;
}

div.list a {
    font-size: 12px;
}